
body {
  font-family: "Open Sans", sans-serif;
  
  background-color:whitesmoke;
}

a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5846f9;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #7b27d8;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5846f9;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
transition: all 0.5s;
z-index: 997;
padding: 15px 0;
background-color: rgb(7, 0, 0);
display: flex; 
justify-content: center; 
align-items: center;

}

#header.header-scrolled,
#header.header-inner-pages {
  background:black;
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  position: absolute;
  color: #fff;
  margin-left: -80px;
  font-size: 24px;
  margin-top: -10px;
  font-weight: bold;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  width: 70%;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color:white;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  font-family: Garamond;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.p1{
  margin-left:60px;
  margin-top:-5px;
  font-size: 24px;
  color: white;
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color:transparent;
  border: 1px solid white;
}


.p2{
  position: absolute;
  margin-left:870px;
  margin-top:0px;
  width: 100px;
  color: white;
  height: 40px;
  background-color:transparent;
  border: none;
}
.p2 .img1{
  width: 25px;
  height: 26px;
}

.p3{
  position: absolute;
  margin-left:980px;
  width: 60px;
  margin-top:7px;
  color: white;
  background-color:transparent;
  font-size: 24px;
  border: 0;
}
.p3 .img1{
  width: 25px;
  height: 25px;
}
.p4{
  position: absolute;
  margin-left:1030px;
  width: 200px;
  margin-top:23px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
 
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color:white;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  border-color: #fff;
}

.navbar .getstarted:before,
.navbar li:hover>.getstarted:before {
  visibility: hidden;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 7px;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background:black;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  background-color: maroon;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .megamenu {
  position: static;
}

.navbar .megamenu ul {
  margin-top:8px;
  right: 0;
  padding: 10px;
  display: flex;
  background-color: black;
}

.navbar .megamenu ul li {
  flex: 1;
}

.navbar .megamenu ul li a,
.navbar .megamenu ul li:hover>a {
  color: white;
}

.navbar .megamenu ul li a:hover,
.navbar .megamenu ul li .active,
.navbar .megamenu ul li .active:hover {
  color: #4154f1;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
  .p1{
      margin-left:-24px;
      margin-top:-9px;
      width: 100px;
      color: white;
      height: 30px;
      background-color:transparent;
      border: 0;
      font-size: 15px;
    }
    .img{
      width: 17px;
      height: 17px;
    }
    .p2{
      position: absolute;
      margin-left:-6px;
      margin-top: 10px;
      width: 90px;
      color: white;
      height: 30px;
      background-color:transparent;
      border: 1px solid white;
    }

    .p3{
      position: absolute;
      margin-left:-6px;
      width: 60px;
      height: 40px;
      margin-top:20px;
      background-color:transparent;
      font-size: 24px;
      border: 0;
    }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: blue;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: white;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color:white;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #5846f9;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


.message{
	position:absolute;
	width:400px;
	height:auto;
	background-color:white;
	margin-top:70px;
	margin-left:940px;
	display:none;
	box-shadow:0 0 28px rgba(0,0,0,0.15);
	border:1px solid lightgrey;
  z-index: 1000;
}
.message span{
	position:absolute;
	margin-top:-9px;
	background-color:lightgrey;
	width:400px;
	color:transparent;
	height:1px;
}
.message p{
	
	margin-top:5px;
	color:black;
	font-weight:bold;
	font-size:17px;
	margin-left:5px;
	
}
.message .cont{
	width:400px;
	height:auto;
	background-color:white;
	margin-top:-8px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.cont .box1{
	width:400px;
	height:auto;
	background-color:white;
	margin-top:0;
  border:1px solid lightgrey;
}
.box1 h3{
  width: 180px;
     margin-left:10px;
     padding-top: 5px;
     height: 30px;
     font-size:18px;
     margin-top:5px;
   font-weight: bold;
   background-color:maroon;
   font-family: Garamond;
   border-radius: 10px;
     color:white;
   padding-left: 10px;
     
 }
 
 .box1 p{
     margin-left:10px;
     font-size:16px;
     margin-top:10px;
   font-family: Garamond;
     color:black;
   margin-right: 10px;
     
 }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: auto;
  background:white;
  background-size: cover;
  padding-top: 40px;
}
#hero .bigdiv{
  background-color:white;
  width: 100%;
  height: auto;
}


.bigdiv  #topup{
  position: absolute;
  display: none;
  width:770px;
  height:400px;
  background-color:white;
  z-index: 10000000;
  margin-left:300px;
  margin-top:-550px;
  border:1px solid lightblue;
  border-radius:10px;

}
#topup input[type="text"]{
  position:absolute;
  margin-left:230px;
  margin-top:150px;
  width:300px;
  height:40px;
  border:1px solid lightblue;
  border-radius:10px;
}
#topup label{
  position:absolute;
  margin-left:230px;
  margin-top:100px;
  color:black;
  font-size:18px;
}
#topup button{
  position:absolute;
  margin-left:270px;
  margin-top:250px;
  width:200px;
  height:50px;
  background-color:maroon;
  color:white;
  border:0;
  border-radius:10px;
}

#topup #hide{
  position:absolute;
  margin-left:720px;
  margin-top:10px;
  color:white;
  background-color:red;
  width:30px;
  height:30px;
  border-radius:0;
}
.bigdiv form{
  background-color:white;
  width: 100%;
  height: 600px;
  margin-top: 0;
  margin-left: 0px;
  font-size:17px;
  font-weight: 700;
 
}
.bigdiv .menu{
 
  width: 100%;
  z-index: 991;
  margin-top: 30px;
  margin-left: 0px;
  height: 40px;
  background-color:maroon;
  box-shadow:0 0 28px rgba(0,0,0,0.15);
}

.menu .btn5{
  position: absolute;
  width: 300px;
  margin-top: 2px;
  font-weight: bold;
  margin-left: 0px;
  border: 0;
  height: 38px;
  text-align: center;
  font-size: 15px;
  background-color:black;
  color:white;
  
}

.menu .btn7{
  position: absolute;
  width: 200px;
  margin-top: 2px;
  margin-left: 370px;
  font-weight: bold;
  background: transparent;
  border: 0;
  height: 40px;
  text-align: center;
  font-size: 15px;
  color:white;
}
.menu .btn10{
  position: absolute;
  width: 200px;
  margin-top: 2px;
  font-weight: bold;
  margin-left: 600px;
  background: transparent;
  border: 0;
  height: 40px;
  text-align: center;
  font-size: 15px;
  color:white;
}

#hero form h3{
  position: absolute;
  margin-top: 80px;
  font-size: 28px;
  color: maroon;
  margin-left: 50px;
  font-weight: 700;
  font-family: Garamond;
}
#hero form .p5{
  position: absolute;
  margin-top: 130px;
  font-size: 15px;
  color: black;
  margin-left: 50px;
  text-decoration: none;
}

form .textfield1{
  position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 170px;
}
form .textfield1 label{
  margin-bottom: 5px;

}
form .textfield1 input[type="text"]{
    width:220px;
    height:30px;
    font-size: 17px;
    color:black;
    padding-left: 10px
}

form .textfield2{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-top: 170px;
}
form .textfield2 label{
margin-bottom: 5px;

}
form .textfield2 input[type="text"]{
  width:220px;
  height:30px;
  font-size: 17px;
  color:black;
  padding-left: 10px
}


form .textfield3{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 560px;
  margin-top: 170px;
}
form .textfield3 label{
margin-bottom: 5px;

}
form .textfield3 select{
  width:220px;
  height:30px;
  font-size: 17px;
  color:black;
  padding-left: 10px
}
.img3{
  position: absolute;
  margin-top: 250px;
  width: 740px;
  height: 300px;
  background-color:white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
}
.img3 .bt7{
  position: absolute;
  width: 120px;
  height: 40px;
  color: black;
  background-color:white;
  margin-left: 430px;
  margin-top: 13px;
  border: 1px solid grey;
}
.img3 .dis{
  position: absolute;
  width: 700px;
  height: 30px;
  margin-top: 10px;
  background-color: grey;
  margin-left: 20px;

}
.img3 .dis .d{
  position: absolute;
  margin-top: 2px;
  margin-left: 40px;
  color: white;
}
.img3 .dis .d1{
  position: absolute;
  margin-top: 2px;
  margin-left: 270px;
  color: white;
}
.img3 .dis .d2{
  position: absolute;
  margin-top: 2px;
  margin-left: 480px;
  color: white;
}
.sub{
  position: absolute;
  margin-top: 460px;
  margin-left: 550px;
  width: 170px;
  height: 40px;
  background-color:maroon;
  color: white;
  font-size: 17px;
  border: 0;
}
.can{
  position: absolute;
  z-index: 991;
  background-color:red;
  margin-left: 400px;
  margin-top: 560px;
  color: white;
  border: 0;
  font-size: 17px;
  width: 170px;
  height: 40px;
  
}
.select{
  position: absolute;
  max-width: 500px;
  width: 500px;
  height: 300px;
  background-color:rgb(255, 255, 255);
  margin-left: 820px;
  margin-top: 200px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h5{
  position: absolute;
  margin-left: 830px;
  margin-top: 220px;
  
  font-weight: bold;
  z-index: 991;
  color: maroon;
  font-family: Garamond;
  font-size: 22px;
}
.select .p111{
  position: absolute;
  margin-top: 60px;
  color: black;
  margin-left: 20px;
  font-size:15px;
  width: 500px;
}
.select .p111 .sp1{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 5px;
  font-size:15px;
}
.select .p12{
  position: absolute;
  margin-top: 90px;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.select .p12 .sp2{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 5px;
  font-size:15px;
}
.select .p13{
  position: absolute;
  margin-top:120px;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.select .p13 .sp3{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 5px;
  font-size:15px;
}
.select .p14{
  position: absolute;
  margin-top:180px;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.select .p14 .sp4{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 5px;
  font-size:15px;
}
.select .p15{
  position: absolute;
  margin-top:90px;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.select .p15 .sp5{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  width: 100px;
  margin-left: 5px;
  font-size:15px;
}
.select .p16{
  position: absolute;
  margin-top:140px;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.select .p16 .sp6{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  width: 100px;
  margin-left: 5px;
  font-size:15px;
}
.select .p17{
  position: absolute;
  margin-top:200px;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.select .p17 .sp7{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  width: 100px;
  margin-left: 5px;
  font-size:15px;
}
.select .p18{
  position: absolute;
  margin-top:230px;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.select .p18 .sp8{
  position: absolute;
  color:black;
  margin-top: 0px;
  font-weight: bold;
  width: 100px;
  margin-left: 5px;
  font-size:15px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .container,
  #hero .container-fluid {
    padding-top: 68px;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px),
(max-height: 600px) {
  #hero {
    height: auto;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.span1{
  position:absolute;
  width: 20px;
  border-radius: 20px;
  background-color:red;
  margin-top: -570px;
  margin-left: 20px;
  text-align: center;
  color: white;
}
.p51{
  position: absolute;
  margin-top: -540px;
  margin-left: 50px;
  width: 80%;
  font-size: 13px;
  width: 200px;
}

.span2{
  position:absolute;
  width: 20px;
  border-radius: 20px;
  background-color:blue;
  margin-top: 50px;
  margin-left: 20px;
  text-align: center;
  color: white;
}
.p52{
  position: absolute;
  margin-top: 53px;
  margin-left: 40px;
  font-size: 12px;
  width: 200px;
  background-color:transparent;
  color:white;
  font-family: Garamond;
  text-align: left;
  border: 0;
  font-family:Garamond;
  font-weight: bold;
}

.span3{
  position:absolute;
  width: 20px;
  border-radius: 20px;
  background-color:blue;
  margin-top: 50px;
  margin-left: 230px;
  text-align: center;
  color: white;
}
.p53{
  position: absolute;
  margin-top: 53px;
  margin-left: 257px;
  width:120px;
  font-size: 12px;
  height: 20px;
  background-color:transparent;
  color:white;
  text-align: left;
  border: 0;
  font-family:Garamond;
  font-weight: bold;
  
}

.span4{
  position:absolute;
  width: 20px;
  border-radius: 20px;
  background-color:blue;
  margin-top: 50px;
  margin-left: 350px;
  text-align: center;
  color: white;
}
.p54{
  position: absolute;
  margin-top: 53px;
  margin-left: 380px;
  width: 80%;
  font-size: 12px;
  width: 130px;
  height: 20px;
  background-color:transparent;
  color:white;
  border: 0;
  font-family:Garamond;
  font-weight: bold;
}

.span5{
  position:absolute;
  width: 20px;
  border-radius: 20px;
  background-color:blue;
  margin-top: 50px;
  margin-left: 496px;
  text-align: center;
  color: white;
}
.p55{
  position: absolute;
  margin-top: 52px;
  margin-left: 520px;
  font-size: 12px;
  width: 130px;
  height: 24px;
  border: 0;
  border-radius:2px;
  background-color: blue;
  color: white;
  font-family:Garamond;
  font-weight: bold;
}

.span6{
  position:absolute;
  width: 20px;
  border-radius: 20px;
  background-color:red;
  margin-top: 50px;
  margin-left: 660px;
  text-align: center;
  color: white;
}
.p56{
  position: absolute;
  margin-top: 30px;
  margin-left: 690px;
  font-size: 12px;
  width: 200px;
  color: white;
  font-family:Garamond;
  font-weight: bold;
}
.span7{
  position:absolute;
  width: 20px;
  border-radius: 20px;
  background-color:red;
  margin-top: 50px;
  margin-left: 886px;
  text-align: center;
  color: white;
}
.p57{
  position: absolute;
  margin-top: 28px;
  margin-left: 917px;
  
  font-size: 12px;
  width: 340px;
  color: white;
  font-family:Garamond;
  font-weight: bold;
}
.steps{
  position: absolute;
  background-color:maroon;
  margin-top: -30px;
  width: 100%;
  height: 100px;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}
.service{
  height: 70vh;
  background-color: white;
  width: 100%;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: black;
  background-size: cover;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: black;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #5846f9;
}

#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}
